// External libraries


$primary: deeppink;
$secondary: #d783ab;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "core/avatars/avatar";


@font-face {
  font-family: "bootstrap-icons";
  src: font-url("bootstrap-icons/font/fonts/bootstrap-icons.woff2") format("woff2"),
  font-url("bootstrap-icons/font/fonts/bootstrap-icons.woff") format("woff");
}

.sidebar{
  padding-right: 20px;
  padding-top: 20px;
  min-height: calc(100vh);
}

$badge-font-size:                   .75em;
$badge-font-weight:                 $font-weight-bold;
$badge-color:                       $white;
$badge-padding-y:                   .35em;
$badge-padding-x:                   .65em;
$badge-border-radius:               $border-radius;

.fill-white{
  fill: white;
}